/* header */
.titulo {
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
}

/* body */
body {
    background: rgb(248,234,231);
background: linear-gradient(180deg, rgba(248,234,231,1) 0%, rgba(218,211,210,1) 100%);
}

/* titulos y texto */
.justificacion {
    text-align: justify;
}

h4 {
    text-align: center;
}
.resultado-und{
    text-align: center;
}
/* marco concersor unidades */
.marco-und {
    width: 273px;
    height: 271px;
    background-color: #20D5D8;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 17px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 17px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 17px 3px rgba(0, 0, 0, 0.75);
    margin: auto;
}

.marco-titulo {
    text-align: center;
    padding-top: 30px;
}

.marco-label1,
.marco-label2 {
    padding: 10px 0px 10px 25px;
}

.marco-input {
    margin: 8px 0px 8px 24px;
}
.marco-input2 {
    margin: 8px 0px 8px 67px;
}

/* marco formula */
.marco-formula {
    background-color: #20dab3;
    width: 830px;
    height: 310px;
    border-radius: 15px;
    margin: auto;
    -webkit-box-shadow: 10px 10px 17px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 17px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 17px -5px rgba(0, 0, 0, 0.75);
}


.ajuste-param-form {
    position: relative;
    left: 375px;
    bottom: 37px;
    width: 450PX;
}

img.formula-img {
    width: 300px;
    position: relative;
    top: 20px;
    left: -103px;
}

.formula-img {
    position: relative;
    top: 94px;
    left: 120px;
    width: 79px;
}

.form-input-fexx {
    margin-left: 45px;
    margin-bottom: 15px;
}

.form-label-fexx {
    margin-left: 163px;
}

.form-input {
    margin-left: 46px;
}

.form-label {
    margin-left: 185px;
}

.boton-fv {
    margin-left: 160px;
    -webkit-box-shadow: 10px 10px 17px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 17px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.75);
}

.Resultado-fv {
    margin-left: 40px;
}

p.text-form2 {
    margin: 10px 0px 15px 0px;
}

p.text-form3 {
    margin: 10px 0px 15px 0px;
}